{% extends '@Article/base.html.twig' %}

{% block body %}
   <div style="float: right"> <a href="{{ path('import') }}" class="btn btn-default btn-sm">Import</a>
   </div>
    <table class="table table-hover table-responsive">

        <thead>
            <tr>

                <th>Author First Name</th>
                <th>Author Last Name</th>
                <th>Article Image</th>
                <th>Sub Title</th>
            </tr>
        </thead>
        <tbody>
            {% for article in articles %}
            <tr>

                <td>{{ article.author.firstName }}</td>
                <td>{{ article.author.lastName }}</td>
                <td><img src="{{ article.image.url }}" width="100" height="100"></td>
                <td>{{ article.subtitle}}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}